:root {
	--color-black: #000000;
	--color-white: #ffffff;
	--color-white-opacity-30: #ffffff30;
	--color-black-opacity-30: #00000030;
	--color-bg-header: #293449;
	--color-bg-header-hover: #212a3a;
	--color-bg-header-active: #161d29;
	--color-bg-header-gray: #eae9f1;
	--color-bg-main: #f1f5f7;
	--color-bg-gray: #f9f5f0;
	--color-bg-navigation: #32425c;
	--color-bg-navigation-hover: #293449;
	--color-logo: #ee3643;
	--color-logo-hover: #ca2c37;
	--color-logo-active: #ba2732;
	--color-logo-border: #b52933;
	--color-logo-border-hover: #9a212a;
	--color-logo-border-active: #8e1e26;
	--color-text-dark-white: #e0e2e5;
	--color-text-red: #ca2c37;
	--color-text-gray: #babbbd;
	--color-text-gray-active: #cacaca;
	--color-text-blue: #293449;
	--color-icon: #6a7180;
	--color-icon-hover: #ffffff;
	--color-icon-active: #8b8e94;
	--color-icon-red: #ee3643;
	--color-button-green: #63a63e;
	--color-button-green-border: #367315;
	--color-button-green-hover: #5fbb2d;
	--color-button-green-active: #518534;
	--color-button-green-text-active: #b6c8ae;
	--color-button-gray: #e5e5e5;
	--color-button-gray-hover: #cccccc;
	--color-button-gray-active: #b2b2b2;
	--color-button-red: #ee3643;
	--color-button-red-hover: #ca2c37;
	--color-button-red-active: #ba2732;
	--color-link-gold: #ffd180;
	--color-link-red: #ee3643;
	--color-card-gold: #ffbf47;
	--color-card-aqua: #3bbce3;
	--color-card-pink: #dc91d8;
	--color-card-lime: #8ed78f;
}

@font-face {
	font-family: "cuprum";
	src: url(../fonts/cuprum.woff);
	src: url(../fonts/cuprum.woff2);
}

@font-face {
	font-family: "cuprumbold";
	src: url(../fonts/cuprumbold.woff);
	src: url(../fonts/cuprumbold.woff2);
}

@font-face {
	font-family: "cuprumitalic";
	src: url(../fonts/cuprumitalic.woff);
	src: url(../fonts/cuprumitalic.woff2);
}

@font-face {
	font-family: "cuprumbolditalic";
	src: url(../fonts/cuprumbolditalic.woff);
	src: url(../fonts/cuprumbolditalic.woff2);
}

@font-face {
	font-family: "ptsans";
	src: url(../fonts/ptsans.woff);
	src: url(../fonts/ptsans.woff2);
}

@font-face {
	font-family: "ptsansbold";
	src: url(../fonts/ptsansbold.woff);
	src: url(../fonts/ptsansbold.woff2);
}

html {
	box-sizing: border-box;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

body {
	min-width: 1200px;
	margin: 0;
	padding: 0;

	font-family: "cuprum", Arial, sans-serif;
	font-size: 17px;
	line-height: 26px;
	color: var(--color-text-blue);

	background-color: var(--color-bg-main);
}

a {
	color: #000000;
	text-decoration: none;
}

img {
	max-width: 100%;
	height: auto;
}

.visually-hidden:not(:focus):not(:active) {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overfbottom: hidden;
}

.container {
	margin: 0 auto;
	width: 940px;
	height: 100%;
}

.link {
	color: var(--color-white);
}

.link--logo {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: calc(100% + 3px);

	background-color: var(--color-logo);

	border-bottom: 3px solid var(--color-logo-border);
}

.link--logo:hover {
	background-color: var(--color-logo-hover);

	border-bottom: 3px solid var(--color-logo-border-hover);
}

.link--logo:active {
	background-color: var(--color-logo-active);

	border-bottom: 3px solid var(--color-logo-border-active);
}

.link--logo .link__text {
	margin-top: 3px;

	font-size: 24px;
	text-transform: uppercase;
}

.link--order {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;

	background-color: var(--color-button-green);
}

.link--order:hover {
	background-color: var(--color-button-green-hover);
}

.link--order:active {
	color: var(--color-button-green-text-active);

	background-color: var(--color-button-green-active);
}

.link--bookmark,
.link--basket {
	display: flex;
	align-items: center;
}

.link--bookmark::before,
.link--basket::before {
	display: inline-block;
	margin-right: 10px;
	width: 17px;
	height: 17px;

	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;

	content: "";
}

.link--basket::before {
	background-image: url("../svg/cart.svg");
}

.link--bookmark::before {
	background-image: url("../svg/bookmark.svg");
}

.site-search {
	padding: 0 10px;
	width: 100%;

	border: none;
	background-color: transparent;
}

.site-search::placeholder {
	padding-left: 30px;

	color: var(--color-white);

	background-image: url("../svg/loupe.svg");
	background-repeat: no-repeat;
	background-position: 0 0;
}

.top-header__bookmark:hover,
.top-header__basket:hover,
.site-search:hover::placeholder,
.site-search:hover {
	background-color: var(--color-bg-header-hover);
}

.top-header__bookmark:active,
.top-header__basket:active {
	background-color: var(--color-bg-header-active);
}

.site-search:focus::placeholder,
.site-search:focus {
	color: var(--color-black);
	background-color: var(--color-white);
}

.site-search__image {
	margin-right: 5px;
}

.top-header {
	height: 45px;
	background-color: var(--color-bg-header);
}

.top-header__order,
.top-header__basket,
.top-header__bookmark {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 150px;
}

.top-header__content {
	display: flex;
	flex-wrap: wrap;
}

.top-header__logo {
	display: flex;
	width: 220px;
}

.top-header__search {
	display: flex;
	flex-direction: row-reverse;
	flex-grow: 1;
}

.bottom-header {
	padding: 40px 0;
	background-color: var(--color-bg-header-gray);
}

.user-navigation {
	display: flex;
	justify-content: space-between;
}

.site-description {
	margin-left: 50px;

  font-size: 16px;
	font-family: "cuprumitalic";
	color: var(--color-text-red);
}

.phone-n-address {
	display: flex;
	justify-content: center;
	flex-direction: column;
}

.link--phone {
	padding: 7px 12px;

	color: var(--color-text-red);
	font-family: "cuprumbold";
	font-size: 20px;
	border: 2px solid var(--color-white);
}

.link--phone .link__text {
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.link--phone .link__text::before {
	display: inline-block;
	width: 20px;
	height: 20px;

	background-image: url("../svg/phone.svg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;

	content: "";
}

.phone-n-address__address {
	margin-top: 5px;

	font-size: 14px;
	font-family: "cuprumbold";
}

.account-links {
	display: flex;
	align-items: flex-start;
	flex-wrap: wrap;
}

.account-link:not(:last-child) {
	margin-right: 10px;
}

.account-link {
	padding: 7px 18px;

	font-size: 21px;
	font-family: "cuprumbold";

	background-color: var(--color-white);
}

.account-link--login .account-link__text {
	display: flex;
	align-items: center;
}

.account-link--login .account-link__text::before {
	display: inline-block;
	width: 20px;
	height: 20px;
	margin-right: 10px;

	background-image: url("../svg/entrance.svg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;

	content: "";
}

.site-navigation {
}

.site-navigation__item {
}
