:root {
	--color-black: #000000;
	--color-white: #ffffff;
	--color-white-opacity-30: #ffffff30;
	--color-black-opacity-50: #00000050;
	--color-bg-header: #293449;
	--color-bg-header-hover: #212a3a;
	--color-bg-header-active: #161d29;
	--color-bg-header-gray: #eae9f1;
	--color-bg-main: #f1f5f7;
	--color-bg-gray: #f9f5f0;
	--color-bg-navigation: #32425c;
	--color-bg-navigation-hover: #293449;
	--color-logo: #ee3643;
	--color-logo-hover: #ca2c37;
	--color-logo-active: #ba2732;
	--color-logo-border: #b52933;
	--color-logo-border-hover: #9a212a;
	--color-logo-border-active: #8e1e26;
	--color-text-dark-white: #e0e2e5;
	--color-text-red: #ca2c37;
	--color-text-gray: #babbbd;
	--color-text-gray-active: #cacaca;
	--color-text-blue: #293449;
	--color-icon: #6a7180;
	--color-icon-hover: #ffffff;
	--color-icon-active: #8b8e94;
	--color-icon-red: #ee3643;
	--color-button-green: #63a63e;
	--color-button-green-border: #367315;
	--color-button-green-hover: #5fbb2d;
	--color-button-green-active: #518534;
	--color-button-green-text-active: #b6c8ae;
	--color-button-gray: #44444420;
	--color-button-gray-hover: #44444430;
	--color-button-gray-active: #44444460;
	--color-button-red: #ee3643;
	--color-button-red-hover: #ca2c37;
	--color-button-red-active: #ba2732;
	--color-link-gold: #ffd180;
	--color-link-red: #ee3643;
	--color-article-gold: #ffbf47;
	--color-article-aqua: #3bbce3;
	--color-article-pink: #dc91d8;
	--color-article-lime: #8ed78f;
}

@font-face {
	font-family: "cuprum";
	src: url(../fonts/cuprum.woff);
	src: url(../fonts/cuprum.woff2);
}

@font-face {
	font-family: "cuprumbold";
	src: url(../fonts/cuprumbold.woff);
	src: url(../fonts/cuprumbold.woff2);
}

@font-face {
	font-family: "cuprumitalic";
	src: url(../fonts/cuprumitalic.woff);
	src: url(../fonts/cuprumitalic.woff2);
}

@font-face {
	font-family: "cuprumbolditalic";
	src: url(../fonts/cuprumbolditalic.woff);
	src: url(../fonts/cuprumbolditalic.woff2);
}

@font-face {
	font-family: "ptsans";
	src: url(../fonts/ptsans.woff);
	src: url(../fonts/ptsans.woff2);
}

@font-face {
	font-family: "ptsansbold";
	src: url(../fonts/ptsansbold.woff);
	src: url(../fonts/ptsansbold.woff2);
}

html {
	box-sizing: border-box;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

body {
	min-width: 1200px;
	margin: 0;
	padding: 0;

	font-family: "cuprum", Arial, sans-serif;
	font-size: 17px;
	line-height: 26px;
	color: var(--color-text-blue);
}

a {
	color: #000000;
	text-decoration: none;
}

img {
	max-width: 100%;
	height: auto;
}

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}

.container {
	margin: 0 auto;
	width: 940px;
	height: 100%;
}

.link {
	color: var(--color-white);
}

.link--logo {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: calc(100% + 5px);

	background-color: var(--color-logo);

	border-bottom: 5px solid var(--color-logo-border);
}

.link--logo:hover {
	background-color: var(--color-logo-hover);

	border-bottom: 5px solid var(--color-logo-border-hover);
}

.link--logo:active {
	background-color: var(--color-logo-active);

	border-bottom: 5px solid var(--color-logo-border-active);
}

.link--logo .link__text {
	margin-top: 5px;

	font-size: 24px;
	text-transform: uppercase;
}

.link--order {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;

	background-color: var(--color-button-green);
}

.link--order:hover {
	background-color: var(--color-button-green-hover);
}

.link--order:active {
	color: var(--color-button-green-text-active);

	background-color: var(--color-button-green-active);
}

.link--bookmark,
.link--basket {
	display: flex;
	align-items: center;
}

.link--bookmark::before,
.link--basket::before {
	display: inline-block;
	margin-right: 10px;
	width: 17px;
	height: 17px;

	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;

	content: "";
}

.link--basket::before {
	background-image: url("../svg/cart.svg");
}

.link--bookmark::before {
	background-image: url("../svg/bookmark.svg");
}

.input {
	padding: 15px;

	border: 2px solid var(--color-text-gray);
	border-radius: 3px;

	height: 50px;
	width: 100%;
}

.input-title {
	margin-bottom: 10px;

	font-family: "cuprumbold";
}

.input::placeholder {
	color: var(--color-text-gray);
}

.input:hover {
	border: 2px solid var(--color-text-gray-active);
}

.input:invalid {
	border: 2px solid var(--color-text-red);
}

.input:invalid::placeholder {
	color: var(--color-text-red);
}

.site-search {
	padding: 0 10px;
	width: 100%;

	border: none;
	background-color: transparent;
}

.site-search::placeholder {
	padding-left: 30px;

	color: var(--color-white);

	background-image: url("../svg/loupe.svg");
	background-repeat: no-repeat;
	background-position: 0 0;
}

.top-header__bookmark:hover,
.top-header__basket:hover,
.site-search:hover::placeholder,
.site-search:hover {
	background-color: var(--color-bg-header-hover);
}

.top-header__bookmark:active,
.top-header__basket:active {
	background-color: var(--color-bg-header-active);
}

.site-search:focus::placeholder,
.site-search:focus {
	color: var(--color-black);
	background-color: var(--color-white);
}

.site-search__image {
	margin-right: 5px;
}

.top-header {
	height: 45px;
	background-color: var(--color-bg-header);
}

.top-header__order,
.top-header__basket,
.top-header__bookmark {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 150px;
}

.top-header__content {
	display: flex;
	flex-wrap: wrap;
}

.top-header__logo {
	display: flex;
	width: 220px;
}

.top-header__search {
	display: flex;
	flex-direction: row-reverse;
	flex-grow: 1;
}

.bottom-header {
	padding: 40px 0 60px 0;
	background-color: var(--color-bg-gray);
}

.user-navigation {
	display: flex;
	justify-content: space-between;
}

.site-description {
	margin-left: 50px;

	font-size: 16px;
	font-family: "cuprumitalic";
	color: var(--color-text-red);
}

.phone-n-address {
	display: flex;
	justify-content: center;
	flex-direction: column;
}

.link--phone {
	padding: 7px 12px;

	color: var(--color-text-red);
	font-family: "cuprumbold";
	font-size: 20px;
	border: 2px solid var(--color-white);
}

.link--phone .link__text {
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.link--phone .link__text::before {
	display: inline-block;
	width: 20px;
	height: 20px;

	background-image: url("../svg/phone.svg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;

	content: "";
}

.phone-n-address__address {
	margin-top: 5px;

	font-size: 14px;
	font-family: "cuprumbold";
}

.account-links {
	display: flex;
	align-items: flex-start;
	flex-wrap: wrap;
}

.account-link:not(:last-child) {
	margin-right: 10px;
}

.account-link {
	padding: 7px 18px;

	font-size: 21px;
	font-family: "cuprumbold";

	background-color: var(--color-white);
}

.account-link--login .account-link__text {
	display: flex;
	align-items: center;
}

.account-link--login .account-link__text::before {
	display: inline-block;
	width: 20px;
	height: 20px;
	margin-right: 10px;

	background-image: url("../svg/entrance.svg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;

	content: "";
}

.site-navigation-wrapper {
	height: 60px;
	padding: 0 20px;
	margin-top: 40px;

	background-color: var(--color-bg-navigation);
}

.site-navigation__item:hover {
	background-color: var(--color-bg-navigation-hover);
}

.site-navigation__item:active a {
	color: var(--color-white-opacity-30);

	background-color: var(--color-bg-navigation-hover);
}

.site-navigation {
	display: flex;
	justify-content: space-between;
	margin: 0;
	padding: 0;
	height: 100%;

	list-style: none;
}

.site-navigation__item {
	display: flex;
	flex-grow: 1;
}

.site-navigation__item a {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	width: 100%;
}

.goods {
	padding: 60px 0 20px 0;
}

.goods__row {
	display: flex;
	flex-wrap: wrap;
}

.label-new::after {
	position: absolute;
	top: 5px;
	right: -30px;
	transform: rotate(45deg);

	display: flex;
	align-items: center;
	justify-content: center;
	width: 100px;
	height: 30px;

	font-size: 16px;
	color: var(--color-white);

	background-color: var(--color-logo);

	content: "new";
}

.article-good {
	position: relative;

	padding: 20px 25px;
	margin-bottom: 20px;
	width: 300px;
	height: 123px;

	overflow: hidden;
}

.article-good:not(:nth-child(3n + 3)) {
	margin-right: 20px;
}

.article-good--materials {
	background-image: url("../svg/paint.svg");
	background-repeat: no-repeat;
	background-position: right 45px center;
	background-size: 45px;
	background-color: var(--color-article-gold);
}

.article-good__title {
	font-size: 24px;
	font-family: "cuprumbold";
	color: var(--color-white);
}

.article-good__button {
	margin-top: 20px;
	width: 130px;
	height: 35px;
}

.button {
	display: flex;
	justify-content: center;
	align-items: center;

	color: var(--color-white);
	font-size: 14px;
	text-transform: uppercase;

	background-color: var(--color-button-gray);

	border: none;
	border-radius: 3px;
}

.button:hover {
	background-color: var(--color-button-gray-hover);
}

.button:active {
	background-color: var(--color-button-gray-active);
}

.article-good--instruments {
	background-image: url("../svg/drill.svg");
	background-repeat: no-repeat;
	background-position: right 25px center;
	background-size: 80px;
	background-color: var(--color-article-aqua);
}

.article-good--machines {
	background-image: url("../svg/tractor.svg");
	background-repeat: no-repeat;
	background-position: right 30px center;
	background-size: 80px;
	background-color: var(--color-article-pink);
}

.slider {
	position: relative;
	margin-right: 20px;
	margin-bottom: 20px;
	width: 620px;
	height: 266px;
}

.slider__content {
	position: absolute;
	top: 0;
	left: 0;

	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 25px;
	height: 100%;

	color: var(--color-white);
}

.slider__image-wrapper {
	display: flex;
}

.slider__title {
	font-size: 36px;
	font-family: "cuprumbold";
	text-transform: uppercase;
}

.slider__title-explanation {
	margin-top: 5px;

	font-size: 18px;
}

.slider__row {
	display: flex;
	flex-wrap: wrap;
}

.button--red {
	background-color: var(--color-button-red);
}

.button--red:hover {
	background-color: var(--color-button-red-hover);
}

.button--red:active {
	background-color: var(--color-button-red-active);
}

.slider__button {
	width: 195px;
	height: 40px;
}

.slider__controls {
	margin: 0;
	margin-left: 80px;
	padding: 0;
	display: flex;
	align-items: center;

	list-style: none;
}

.slider__slide-wrapper {
	height: 20px;
	width: 20px;
}

.article-column .article-good {
	margin-right: 0;
}

.article-good--sale {
	background-image: url("../svg/basket.svg");
	background-repeat: no-repeat;
	background-position: right 45px center;
	background-size: 60px;
	background-color: var(--color-article-lime);
}

.article-good--delivery {
	background-image: url("../svg/car.svg");
	background-repeat: no-repeat;
	background-position: right 30px center;
	background-size: 80px;
	background-color: var(--color-article-gold);
}

.semi-header {
	padding: 0 30px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-top: 20px;
	height: 80px;

	border-radius: 5px;
	background-color: var(--color-bg-gray);
}

.semi-header__title {
	margin: 0;

	font-size: 30px;
	font-weight: normal;
	text-transform: uppercase;
}

.semi-header__button {
	height: 35px;
	width: 250px;
}

.good-cards-wrapper {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	margin-top: 20px;
}

.good-card {
	position: relative;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	padding: 0 0 20px 0;
	width: 220px;
	height: 330px;

	text-align: center;

	border: 2px solid var(--color-bg-header-gray);
	overflow: hidden;
}

.good-card__figure {
	margin: 0;
	padding: 0;
}

.good-card__figure-caption {
	margin: 0 auto;
	width: 80%;

	font-size: 18px;
	color: var(--color-black);
	font-family: "ptsansbold";
}

.old-price {
	font-size: 18px;
	font-family: "ptsansbold";
	color: var(--color-text-gray);
	text-decoration: line-through;
}

.good-card__link-wrapper {
	display: flex;
	margin-top: 5px;
}

.good-card__link {
	position: relative;

	height: 40px;
	width: 120px;

	font-size: 18px;
	font-family: "ptsansbold";

	border-top-right-radius: initial;
	border-bottom-right-radius: initial;
}

.good-card__button {
	margin: 5px 0;
	height: 40px;
	width: 140px;

	font-size: 14px;
	font-family: "cuprum";
}

.good-card__button .button__image {
	margin-right: 20px;
}

.good-card__link-text {
	margin-left: 10px;
}

.good-card__link:hover + .good-card__link-arrow {
	fill: var(--color-button-red-hover);
}

.good-card__link:active + .good-card__link-arrow {
	fill: var(--color-button-red-active);
}

.popular-manufacturers {
	margin-bottom: 80px;
}

.manufacturer-cards-wrapper {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.manufacturer-card {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 20px;
	width: 220px;
	height: 150px;

	text-align: center;

	border: 2px solid var(--color-bg-header-gray);
	overflow: hidden;
}

.manufacturer-card:hover {
	box-shadow: 0 10px 20px 1px var(--color-black-opacity-50);
}

.good-card__interactive {
	height: 230px;
}

.good-card:hover {
	box-shadow: 0 10px 20px 1px var(--color-black-opacity-50);
}

.good-card:hover .good-card__image {
	display: none;
}

.good-card:hover .good-card__hidden-buttons {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.manufacturer-card:active {
	opacity: 0.6;
}

.good-card__hidden-buttons {
	display: none;
	height: 176px;
}

.button--green {
	background-color: var(--color-button-green);
	box-shadow: inset 0 -4px 0 0 var(--color-button-green-border);
}

.button--green:hover {
	background-color: var(--color-button-green-hover);
}

.button--green:active {
	background-color: var(--color-button-green-active);
	box-shadow: inset 0 -4px 0 0 var(--color-button-green-active);
}

.button--green .button__image {
	opacity: 0.3;
}

.button--green:hover .button__image {
	opacity: 1;
}

.button--green:active .button__image {
	opacity: 1;
}

.button--bookmark {
	color: var(--color-text-blue);
	background-color: transparent;
	box-shadow: inset 0px 0px 0 3px var(--color-button-green);
}

.button--bookmark:hover {
	background-color: transparent;
	box-shadow: inset 0px 0px 0 3px var(--color-text-blue);
}

.button--bookmark:active {
	background-color: transparent;
	box-shadow: inset 0px 0px 0 3px var(--color-text-blue);
	opacity: 0.3;
}

.services {
	padding: 65px 0;

	background-color: var(--color-bg-gray);
}

.services__content {
	margin-top: 5px;
}

.services__title {
	font-size: 30px;
	text-transform: uppercase;
}

.services__title-description {
	margin-top: 25px;

	font-size: 14px;
	font-family: "ptsans";
}

.services__explanation {
	display: flex;
	align-items: center;
	margin-top: 20px;
	height: 270px;
}

.services__bookmarks {
	position: relative;

	margin: 0;
	margin-top: 10px;
	padding: 0;

	list-style: none;
}

.services__bookmarks::after {
	position: absolute;
	top: 50%;
	right: 0;
	transform: translate(0, -50%);

	margin: 0;
	padding: 0;
	height: 279px;
	width: 10px;

	background-image: url("../img/vertical-shadow.png");
	background-repeat: no-repeat;
	background-position: center;
	opacity: 0.4;

	list-style: none;
	content: "";
}

.services__bookmark-item {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	padding: 25px;
	height: 62px;
	width: 240px;

	font-size: 22px;
	font-family: "cuprumbold";
	color: var(--color-white);

	border-bottom: 1px solid var(--color-bg-navigation-hover);
	border-top: 1px solid #4e678f60;

	background-color: var(--color-bg-navigation);
}

.services__bookmark-item:hover {
	background-color: var(--color-bg-navigation-hover);

	cursor: pointer;
}

.services__bookmark-input:checked + .services__bookmark-item {
	border-bottom: none;
	border-top: none;

	color: var(--color-bg-navigation);

	background-color: var(--color-white);
}

.services__bookmark-content {
	position: relative;

	display: flex;
	justify-content: flex-start;
	width: 100%;
	height: 100%;
}

.services__bookmark-text {
	width: 270px;
	margin-left: 80px;

	margin-top: 50px;
}

.services__bookmark-title {
	font-size: 36px;
	text-transform: uppercase;
}

.services__bookmark-title-explanation {
	margin-top: 30px;

	font-size: 14px;
}

.services__bookmark-image {
	position: absolute;
	bottom: -63px;
	right: 0;
}

.page-columns {
	display: flex;
	justify-content: space-between;
	padding: 80px 0;
}

.about {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 530px;
	height: 370px;
}

.about__title {
	font-size: 30px;
	text-transform: uppercase;
}

.about__text {
	margin-top: 15px;

	font-size: 14px;
}

.about__partner-list-wrapper {
	margin-bottom: 10px;
}

.about__partner-list {
	margin: 0;
	padding: 0;

	list-style: none;
}

.about__partner-list-item {
	position: relative;

	margin-bottom: 10px;
	margin-left: auto;

	font-family: "cuprumbold";
}

.about__partner-list-item::before {
	display: inline-block;
	vertical-align: middle;

	margin-right: 10px;
	width: 25px;
	height: 2px;

	background-color: var(--color-text-red);

	content: "";
}

.about__button {
	width: 220px;
	height: 40px;
}

.contacts {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 300px;
	height: 370px;
}

.contacts__title {
	font-size: 30px;
	text-transform: uppercase;
}

.contacts__text {
	margin-top: 25px;

	font-size: 14px;
}

.contacts__map {
	margin: 40px 0;
}

.contacts__button {
	margin-top: 5px;

	width: 100%;
	height: 40px;
}

.top-footer {
	height: 195px;

	background-color: var(--color-bg-navigation);
}

.top-footer__row-top {
	display: flex;
	justify-content: space-between;
	height: 65px;
}

.top-footer__row-bottom {
	display: flex;
	justify-content: space-between;
	height: 55px;
}

.top-footer__logo {
	width: 220px;
}

.top-footer__logo .link__text {
	font-size: 30px;
}

.top-footer__address {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	color: var(--color-white);
}

.top-footer__phone a {
	color: var(--color-white);
}

.footer-navigation {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	margin: 0;
	padding: 0;
	height: 100%;
	width: 540px;

	list-style: none;
}

.footer-navigation .link:active {
	opacity: 0.3;
}

.top-footer__row-bottom .footer-navigation {
	width: 520px;
}

.top-footer__row-bottom .footer-navigation .link {
	color: var(--color-link-gold);
}

.top-footer__row-bottom .footer-navigation .link:hover {
	border-bottom: 2px solid var(--color-link-gold);
}

.footer-navigation .link:hover {
	border-bottom: 2px solid var(--color-white);
}

.bottom-footer {
	background-color: var(--color-bg-header);

	height: 120px;
}

.bottom-footer__content {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.bottom-footer__copyright {
	color: var(--color-white);
}

.bottom-footer__social {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	margin: 0;
	padding: 0;
	width: 160px;

	list-style: none;
}

.bottom-footer__social-item a {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 45px;
	width: 45px;
	border-radius: 50%;

	background-color: var(--color-bg-header-hover);
}

.bottom-footer__social-item a:active,
.bottom-footer__social-item a:hover {
	background-color: var(--color-button-red);
}

.bottom-footer__author {
	color: var(--color-white);
}

.bottom-footer__author-link {
	color: var(--color-link-gold);
}

.bottom-footer__author-link:hover {
	border-bottom: 2px solid var(--color-link-gold);
}

.bottom-footer__author-link:active {
	color: var(--color-link-red);

	border-bottom: none;
}

.modal {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.modal__container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	flex-grow: 1;
	padding: 0 70px;
}

.write-us {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	min-height: 600px;
	width: 960px;

	background-color: var(--color-white);
	box-shadow: 0 20px 20px #00000070;

	display: none;
}

.write-us__form {
	position: relative;
	width: 100%;
	height: 100%;
}

.write-us__form::before {
	position: absolute;
	top: -145px;
	left: 50%;
	transform: translate(-50%,0);

	width: 960px;
	height: 10px;

	background-color: var(--color-text-red);

	content: '';
}

.write-us__line {
	display: flex;
	justify-content: space-between;
}

.write-us__line--header {
	margin: 50px 0;
}

.write-us__line--contacts {
	margin-bottom: 25px;
}

.write-us__line--message {
	display: flex;
}

.write-us__title {
	font-size: 44px;
	line-height: 44px;
	font-family: "cuprumbold";
}

.write-us__close {
	border: none;
	background-color: transparent;

	opacity: 0.3;
}

.write-us__close:focus,
.write-us__close:hover {
	opacity: 1;
	cursor: pointer;
}

.write-us__close:active {
	opacity: 0.1;
}

.write-us__cell {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
}

.write-us__cell:not(:last-of-type) {
	margin-right: 40px;
}

.write-us__textarea {
	height: 150px;
	margin-bottom: 50px;

	resize: none;
}

.write-us__button {
	width: 260px;
	height: 50px;

	font-size: 20px;
}

.modal__submit {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 160px;

	background-color: var(--color-bg-gray);
}

.map {
	display: flex;
	box-shadow: 0 20px 20px #00000070;

	display: none;
}

.map__close {
	position: absolute;
	top: 10px;
	right: 10px;

	border: none;
	background-color: transparent;
	opacity: 0.7;
}

.map__close:hover {
	opacity: 1;
	cursor: pointer;
}

.show {
	display: flex;
}